.page { font-family: times, georgia, serif;  }
a {text-decoration: none; color: #3366ff;}
a:hover { border-bottom: 1px solid #3366ff; }
.chapeau {background: #ffffcc; font-family: mono; font-size: 11px; margin: 20px 0 10px 0; padding: 2px 15px; }
.download { /*background: #f2f2f2;*/ font-family: mono; font-size: 11px; margin: 16px 0;  padding: 0; }

